<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ConnectionString" value="Trusted_Connection=Yes;Data Source=localhost\Bluezinc;Initial Catalog=nuffield"/>
    <add key="OnlyLogErrors" value="false"/>
    <add key="CommandFile" value="commands.json"/>
  </appSettings>
</configuration>
